.leftStat {
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0 51%);
}

.rightStat {
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.centerStat {
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}